// change the theme
$theme-colors: (
  "primary": #f8e018,
  "secondary": #080808,
  "danger": #ff4136,
  "info": #1cbbe8,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

$primary:#f8e018;
$secondary:#080808;
$info: #1cbbe8;

body {
  font-family: "Anton", sans-serif;
}

.alert-info {
  color: white;
  background-color: $info;
  border-color: $info;
}

.border-3 {
  border-width: 3px !important;
}

.border-5 {
  border-width: 5px !important;
}

.copyright-title{
  border-top: 1px #ddd solid;
}

.product-image {
  min-height: 100px;
}

.main-header {
  z-index: 0;
  width: 30wh;
  height: 30vh;
  background: linear-gradient(-45deg, #f7f7f7, #f7f7f7, $info, $info);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
